* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
header {
  background-color: #fbd703;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.language {
  text-align: right;
  transform: translateY(-30px);
  display: flex;
  justify-content: flex-end;
}
.language span {
  margin-top: 12px;
  background-color: #fcb715;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 700;
  color: #000;
}
.language span:first-child {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.language span:last-child {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
.link a {
  font-weight: 800;
  color: #231f20;
  font-size: 20px;
  border-radius: 30 px;
  display: inline-block;
  transition: all 0.2s ease;
  text-decoration: none;
}
.link > * {
  margin: 0px 20px;
}
.link a:last-child {
  margin-right: 0px;
}
.dropdown-menu {
  position: relative;
}
.list-item {
  position: absolute;
  background-color: red;
  top: 130%;
  left: 0;
  width: 290px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s;
  transform: translateY(10px);
}
.list-item1 {
  position: absolute;
  background-color: red;
  top: 130%;
  left: 0;
  width: 200px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.7s;
  transform: translateY(10px);
}
.list-item1 p {
  font-size: 17px;
  padding: 10px 20px;
  color: #fff;
  font-weight: 700;
  border-bottom: 2px solid #fff;
}
.list-item1 p:first-child {
  background-color: #fcb715;
}
.list-item1 p:nth-child(3) {
  background-color: #fcb715;
}
.dropdown-menu:hover .list-item1 {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
.dropdown-menu:hover .list-item {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
.dropdown-menu:hover i {
  transform: rotate(180deg);
}
.dropdown-menu:hover a {
  text-decoration: underline;
}
.link {
  display: flex;
}
.list-item p {
  font-size: 17px;
  padding: 10px 20px;
  color: #fff;
  font-weight: 700;
  border-bottom: 2px solid #fff;
}

.list-item p:first-child {
  background-color: #fcb715;
}
.list-item p:nth-child(3) {
  background-color: #fcb715;
}
.link i {
  color: #c5a90a;
  transform: rotate(0deg);
  font-size: 14px;
  transition: all 0.4s;
}
.body {
  background-image: url(https://channel.mediacdn.vn/2021/10/19/photo-1-16346110423561838988141.jpg);
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
}
.bars {
  display: none;
}

.list-item-mobile {
  position: absolute;
  right: 60%;
  left: 0;
  top: 100%;
  background-color: #f9b417;
  color: white;
  transform: translateX(-100%);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  transition: all 1s;
  box-shadow: 2px 11px 20px rgb(0 0 0 / 30%);
}

.list-item-mobile p {
  padding: 15px 20px;
  border-bottom: 1px solid white;
  transition: all 0.3;
}

.list-item-mobile p:hover {
  border-left: 10px solid white;
}
.bars:hover .list-item-mobile {
  transform: translateX(0%);
}

@media only screen and (max-width: 1000px) {
  header .link {
    display: none;
  }
  .left img {
    height: 100px;
  }
  .bars {
    display: block;
    font-size: 30px;
  }
  .language {
    transform: none;
  }
}
